<template>
    <div>
        <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Vehiculos</h4>
                                <!-- <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Manufacturera</th>
                                                <th>Año</th>
                                                <th>Modelo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="vehiculo in arrayVehiculos" :key="vehiculo.manufacturer">
                                                <td v-text="vehiculo.manufacturer"></td>
                                                <td v-text="vehiculo.modelYear"></td>
                                                <td v-text="vehiculo.model"></td>
                                                <td><a href="#" v-on:click="listarVehiculosPorModelo(vehiculo.modelYear, vehiculo.manufacturer, vehiculo.model, '')" class="btn btn-primary">Ver más detalles</a></td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <b-modal ref="my-modal" hide-footer title="Vehiculos por modelo">
      <div class="d-block">
        <div class="table-responsive">
            <input type="hidden" v-model="manufacturer">
            <input type="hidden" v-model="year">
            <input type="hidden" v-model="model">
            <input type="checkbox" value="true" v-model="rating" v-on:change="listarVehiculosPorModelo(year, manufacturer, model, rating)">
            <label class="form-check-label" for="exampleCheck1">Ver evaluaciones</label>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th v-if="rating == true">Evaluación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="veh in arrayVeh" :key="veh.vehicleId">
                        <td v-text="veh.description"></td>
                        <td v-if="rating == true">
                            
                            <div v-if="veh.crashRating == 1">
                                <i class="fas fa-star"></i>

                            </div>
                            <div v-else-if="veh.crashRating == 2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>

                            </div>
                            <div v-else-if="veh.crashRating == 3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>

                            </div>
                            <div v-else-if="veh.crashRating == 4">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>

                            </div>
                            <div v-else-if="veh.crashRating == 5">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>

                            </div>
                            <div v-else>
                                <span class="label label-default">No hay rating</span>
                            </div>
                        </td>
                    </tr>                                            
                </tbody>
            </table>
        </div>
      </div>
      <b-button class="mt-3" variant="outline-danger" @click="hideModal">Close Me</b-button>
    </b-modal>
    </div>
</template>

<script>
import BootstrapVue from 'bootstrap-vue'
Vue.use(BootstrapVue)
import 'bootstrap-vue/dist/bootstrap-vue.css'
    export default {
        data(){
            return {
                arrayVehiculos: [],
                arrayVeh: [],
                rating: false,
                year: '',
                manufacturer: '',
                model: '',
            }
        },
        methods: {
            hideModal() {
                this.$refs['my-modal'].hide()
                this.rating = false;
            },
            toggleModal() {
                // We pass the ID of the button that we want to return focus to
                // when the modal has hidden
                this.$refs['my-modal'].toggle('#toggle-btn')
            },
            listarVehiculos(){
                let me=this;
                var url= '/api/vehicles';
                // me.cargando_datos = true;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayVehiculos= respuesta;
                    console.log(respuesta);
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            listarVehiculosPorModelo(year, manufacturer, model, rating){
                let me=this;
                
                // me.cargando_datos = true;
                if(rating == true){
                    var url= '/api/vehicles/'+year+'/'+manufacturer+'/'+model+'?withRating=true';
                    axios.get(url).then(function (response) {
                        me.$refs['my-modal'].show();
                        console.log(url);
                        var respuesta= response.data;
                        me.year = year;
                        me.manufacturer = manufacturer;
                        me.model = model;
                        me.arrayVeh= respuesta.Results;
                        console.log(respuesta);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }else{
                    var url= '/api/vehicles/'+year+'/'+manufacturer+'/'+model;
                    axios.get(url).then(function (response) {
                        me.$refs['my-modal'].show();
                        console.log(url);
                        var respuesta= response.data;
                        me.year = year;
                        me.manufacturer = manufacturer;
                        me.model = model;
                        me.arrayVeh= respuesta.Results;
                        console.log(respuesta);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
                
            },
        },
        mounted() {
            this.listarVehiculos();
        }
    }
</script>
